@charset "utf-8";

.green {
  background-color:green;
  width: 200px;
  height: 200px;
}
.yellow {
  background-color:yellow;
  width: 200px;
  height: 200px;
}
.red {
  background-color:red;
  width: 200px;
  height: 200px;
}